In [1]:
import pandas as pd
import os
from pathlib import Path
from dotenv import load_dotenv
import hvplot

In [11]:
file_path = Path("market_data.csv")
mkt_data = pd.read_csv(file_path, index_col="Date")
file_path = Path("gdp_data.csv")
gdp_data = pd.read_csv(file_path, index_col="DATE")

In [13]:
mkt_data.head()

             S&P_500    Gold        DJIA      NASDAQ  10_Year
Date
1/1/1971   95.879997  37.868   93.490000  118.870003     6.09
2/1/1971   96.750000  38.716  101.339996  125.379997     6.14
3/1/1971  100.309998  38.873  105.970001  128.139999     5.53
4/1/1971  103.949997  39.001  112.300003  131.330002     6.08
5/1/1971   99.629997  40.493  108.250000  132.529999     6.38

In [14]:
gdp_data.head()

               GDP
DATE
1/1/1947   243.164
4/1/1947   245.968
7/1/1947   249.585
10/1/1947  259.745
1/1/1948   265.742

In [4]:
mkt_data.dtypes

#import API data
# clean data, check nulls
# Use the `dtypes` attribute to output the column names and data types
# Use the `rename` function and set the `columns` parameter to a dictionary of new column names

S&P_500    float64
Gold       float64
DJIA       float64
NASDAQ     float64
10_Year    float64
dtype: object